# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Deploy
on:
  release:
    types: [published]

jobs:
  vsce:
    name: VS Code Marketplace
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment:
      name: VS Code Marketplace
      url: https://marketplace.visualstudio.com/items?itemName=johnbillion.vscode-wordpress-hooks
    env:
      VSCE_PAT: ${{ secrets.VSCE_TOKEN }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: clean install dependencies
        run: npm ci

      - name: deploy
        run: npm run deploy-vsce

  openvsx:
    name: Open VSX
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment:
      name: Open VSX Registry
      url: https://open-vsx.org/extension/johnbillion/vscode-wordpress-hooks
    env:
      OVSX_PAT: ${{ secrets.OVSX_TOKEN }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: clean install dependencies
        run: npm ci

      - name: deploy
        run: npm run deploy-openvsx

  github:
    name: GitHub Milestones
    runs-on: ubuntu-latest
    permissions:
      issues: write
    timeout-minutes: 10
    steps:
    - name: Get next versions
      id: semvers
      uses: WyriHaximus/github-action-next-semvers@v1.2.1
      with:
        version: ${{ github.event.release.tag_name }}

    - name: Create next patch milestone
      run: gh api "/repos/${{ github.repository }}/milestones" --field "title=${{ steps.semvers.outputs.patch }}" || true
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Create next minor milestone
      run: gh api "/repos/${{ github.repository }}/milestones" --field "title=${{ steps.semvers.outputs.minor }}" || true
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Create next major milestone
      run: gh api "/repos/${{ github.repository }}/milestones" --field "title=${{ steps.semvers.outputs.major }}" || true
      env:
        GITHUB_TOKEN: ${{ github.token }}
